@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    --font: 'Inter', sans-serif;
}

html {
    font-family: var(--font);
    font-size: 62.5%;
    height: 100vh;
}

body {
    background-color: var(--Off-white);
}

.lock-scroll {
    overflow: hidden;
}

.wrapper-container {
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper {
    max-width: 111rem;
    width: 100%;
    margin: 9rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.7rem;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 3.7rem;
}

ul a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-size: 1.6rem;
}

ul a:hover {
    color: var(--Soft-red);
}

.icons {
    display: none;
}

.hamburger {
    visibility: hidden;
}

.close {
    visibility: hidden;
}

p {
    font-size: 1.5rem;
    color: var(--Dark-grayish-blue);
    line-height: 1.7;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "main main aside"
        "main main aside"
        "article1 article2 article3";
    column-gap: 3rem;
    row-gap: 7rem;
}

picture img {
    max-width: 73rem;
    width: 100%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 3rem;
}

main picture {
    grid-column: span 2;
}

main h1 {
    font-size: 5.6rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.subtitle {
    color: var(--Dark-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 18.5rem;
    height: 5rem;
    background-color: var(--Soft-red);
    color: var(--Off-white);
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 5px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 3rem;
}

.button:hover {
    background-color: var(--Very-dark-blue);

}

aside {
    grid-area: aside;
    background-color: var(--Very-dark-blue);
    padding: 2.8rem 2.5rem;
    color: var(--Off-white);
}

aside p {
    color: var(--Grayish-blue);
    opacity: 0.7;
}

aside h2 {
    color: var(--Soft-orange);
    font-size: 3.9rem;
    font-weight: 700;
    margin-bottom: 2.7rem;
}

aside a {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    text-decoration: none;
    font-weight: 800;
    color: var(--Off-white);
}

aside a:hover {
    color: var(--Soft-orange);
}

aside span {
    font-size: 1.5rem;
    color: var(--Dark-grayish-blue);
    line-height: 1.8;
}

aside hr {
    border: 0.5px solid var(--Dark-grayish-blue);
    margin: 3rem 0;
}

footer {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    grid-template-areas: "article1 article2 article3";
}

article {
    margin-bottom: 4rem;
}

.image {
    margin: auto;
}

article img {
    width: 10rem;
    margin-right: 2.5rem;
}

.article {
    display: flex;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info span {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--Grayish-blue);
}

.info a {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--Very-dark-blue);
}

.info a:hover {
    color: var(--Soft-red);
}

@media screen and (max-width: 800px) {
    .wrapper {
        margin: 3rem 2rem 8rem 2rem;
    }

    .navbar {
        margin-bottom: 3.2rem;
    }

    .links {
        display: none;
        align-items: flex-start;
        background-color: var(--Off-white);
        width: 25rem;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        padding: 15rem 2rem 0 2rem;
    }

    ul {
        flex-direction: column;
        gap: 3rem;
    }

    .visible {
        display: block;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .hamburger {
        visibility: visible;
        cursor: pointer;
    }

    .close {
        visibility: hidden;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }

    .content-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-template-areas: "main" "aside" "footer";
        column-gap: 0rem;
        row-gap: 6.5rem;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "main"
            "title"
            "subtitle";
    }

    main picture {
        grid-column: auto;
    }

    .title {
        grid-area: title;
    }

    .subtitle {
        grid-area: subtitle;
    }

    footer {
        grid-column: span 1;
        grid-template-columns: 1fr;
        column-gap: 0rem;
        row-gap: 3.5rem;
        grid-template-areas: "article1" "article2" "article3";
    }

    article {
        margin-bottom: 0rem;
    }

    .image {
        margin: auto 0;
    }
}