@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    --font-DM: 'DM Serif Display', serif;
    --font-Karla: 'Karla', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-Karla);
}

body.noscroll {
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.4rem;
}

.logo {
    height: 1.8rem;
    width: auto;
}

li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.links {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--Very-Dark-Violet);
    width: 100%;
    left: 0;
    top: 8rem;
    bottom: 0;
    padding: 4rem 2.4rem 0 2.4rem;
    gap: 2.4rem;
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    z-index: 1;
}

.links a {
    text-decoration: none;
    color: var(--Very-Light-Gray);
    font-family: var(--font-Karla);
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 1.36364px;
    text-transform: uppercase;
}

.plans {
    cursor: pointer;
    border: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.6rem;
}

.plans:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Violet);
}


.menu-icon {
    cursor: pointer;
}

.close-icon {
    cursor: pointer;
    display: none;
}

.menu-icon.hidden {
    display: none;
}

.close-icon.visible {
    display: block;
}

.links.visible {
    display: flex;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-content {
    background-color: var(--Dark-Violet);
    text-align: center;
    padding: 9.3rem 2.4rem;
    color: hsla(0, 0%, 100%, 1);
    background-image: url(images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    position: relative;
}

.hero-content h1 {
    font-family: var(--font-DM);
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.666667px;
    margin-bottom: 1.6rem;
}

.hero-content p {
    font-family: var(--font-Karla);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 3.2rem;
}

.hero-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-Karla);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    height: 4rem;
    max-width: 14.6rem;
    width: 100%;
    margin: 0 auto;
}

.hero-content a:hover {
    background-color: hsla(0, 0%, 100%, 1);
    color: var(--Dark-Violet);
}

.mobile-hero-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(54%)
}

.separator.hero {
    display: none;
}

.separator {
    background-color: hsla(296, 30%, 68%, 1);
    width: 15rem;
    height: 0.1rem;
    margin: 0 auto;
}

main {
    margin: 14rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    margin: 4rem 0 8rem 0;
    font-family: var(--font-DM);
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.666667px;
    color: hsla(271, 9%, 17%, 1);
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article img {
    height: 8.6rem;
    width: 8.6rem;
    margin-bottom: 3.2rem;
}

article h3 {
    font-family: var(--font-DM);
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: -0.388889px;
    color: hsla(271, 9%, 17%, 1);
    margin-bottom: 1.6rem;
}

article p {
    font-family: var(--font-Karla);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: hsla(271, 5%, 51%, 1);
    text-align: center;
}

.find-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 7.2rem 2.4rem;
    margin-top: 14rem;
    background-color: var(--Dark-Violet);
    color: hsla(0, 0%, 100%, 1);
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.find-out h4 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: -0.555556px;
}

.find-out a {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 4rem;
    border: 1px solid white;
    font-family: var(--font-Karla);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
}

.find-out a:hover {
    color: var(--Dark-Violet);
    background-color: hsla(0, 0%, 100%, 1);
}

footer {
    padding: 8.8rem 2.4rem;
    background-color: hsla(0, 0%, 98%, 1);
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 17.4rem;
    position: relative;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.footer-logo {
    height: 1.8rem;
    width: 11.2rem;
}

.socials {
    display: flex;
    gap: 1.6rem;
    height: 2.4rem;
}

.socials img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(14%) sepia(9%) saturate(771%) hue-rotate(227deg) brightness(99%) contrast(94%);
}

.footer-separator {
    height: 0.1rem;
    width: 100%;
    background-color: hsla(0, 0%, 86%, 1);
    margin: 4rem 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-family: var(--font-Karla);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.footer-links-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.footer-links-menu span {
    margin-bottom: 2rem;
    color: hsla(271, 5%, 51%, 1);
}

.footer-links-menu a {
    text-decoration: none;
    color: hsla(256, 26%, 20%, 1);
}

.footer-links-menu a:hover {
    text-decoration: underline;
}