@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #FCFAF9;
    background-image: url(assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -280px;
    z-index: -10;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.wrapper-container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

header {
    max-width: 1110px;
    margin: 41px auto 0 auto;
}

.header-logo {
    height: 33px;
    margin-bottom: 123px;
    margin-left: 1px;
}

.header-background {
    position: absolute;
    top: -40px;
    right: 0;
    width: 312px;
    height: auto;
    z-index: -1;
}

header h1 {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    max-width: 1015px;
    width: calc(100% - 16rem);
}

header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    max-width: 825px;
    margin-bottom: 321px;
}

.card-container {
    background-color: hsla(242, 22%, 12%, 1);
    max-width: 1110px;
    height: 600px;
    border-radius: 12px;
    position: relative;
    margin: 0 auto 202px auto;
}

.illustration {
    position: absolute;
    left: 102px;
    bottom: 171px;
    width: 312px;
    max-height: 642px;
    z-index: 1;
}

.card-background {
    position: absolute;
    left: 336px;
    bottom: 172px;
    z-index: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsla(12, 94%, 65%, 1);
    border-radius: 12px;
    width: 446px;
    height: 625px;
    position: absolute;
    top: 90px;
    right: 95px;
    padding: 58px 59px 48px 54px;
    color: #FCFAF9;
    z-index: 2;
}

.card h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 22px;
}

.card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 39px;
}

.price {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 46px;
}

.price span:nth-child(1) {
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
}

.price span:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.92px;
    text-decoration: none;
    border-radius: 12px;
    height: 61px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
}

.ios {
    color: #FCFAF9;
    background-color: #191826;
    margin-bottom: 16px;
}

.ios:hover {
    background-color: #66E2DC;
}

.android {
    background-color: #FCFAF9;
    color: #191826;
}

.android:hover {
    background: hsla(33, 100%, 70%, 1);
}

footer {
    display: flex;
    max-width: 1110px;
    margin: 0 auto 71px auto;
    justify-content: space-between;
}

.footer-logo {
    height: 33px;
    align-self: flex-start;
}

.footer-info {
    display: flex;
    align-items: center;
    gap: 137px;
}

.infos {
    max-width: 366px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.infos a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: hsla(244, 23%, 12%, 1);
}

.social {
    display: flex;
    gap: 20px;
    align-self: center;
}

.social svg:hover {
    cursor: pointer;
    fill: #FA7453;
}

@media screen and (max-width: 768px) {

    html {
        background-size: 983px 808px;
    }

    .wrapper-container {
        max-width: 768px;
        padding: 0 39px 0 33px;
    }

    header {
        margin: 61px auto 0 auto;
    }

    .header-logo {
        margin-bottom: 95px;
    }

    .header-background {
        top: -31px;
        right: -40px;
        width: 267px;
    }

    .title {
        max-width: 520px;
    }

    header h1 {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
        margin-bottom: 28px;
        max-width: none;
        width: auto;
    }

    header p {
        font-size: 18px;
        line-height: 28px;
        max-width: none;
        margin-bottom: 249px;
    }

    .card-container {
        margin: 0 auto 183px auto;
    }

    .illustration {
        left: 64px;
        bottom: 182px;
        width: 270px;
        max-height: 556px;
    }

    .card-background {
        left: auto;
        right: 30%;
        bottom: 229px;
        width: 280px;
        height: 420px;
    }

    .card {
        width: 399px;
        height: 546px;
        top: 150px;
        right: 8.5%;
        padding: 48px 49px 48px 48px;
    }

    .card h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .card p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 36px;
    }

    .price {
        margin-bottom: 32px;
        margin-left: 6px;
    }

    .btn {
        width: 296px;
        margin-left: 6px;
    }

    footer {
        flex-direction: row;
        margin: 0 auto 81px auto;
        gap: 32px;
    }

    .footer-logo {
        width: 146px;
    }

    .footer-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .social {
        display: flex;
        margin: 94px 0 auto auto;
    }
}

@media screen and (max-width: 555px) {
    .card {
        display: flex;
        flex-direction: column;
        background-color: hsla(12, 94%, 65%, 1);
        border-radius: 12px;
        width: 399px;
        height: 546px;
        position: absolute;
        top: 150px;
        right: 50%;
        transform: translateX(50%);
        padding: 48px 49px 48px 48px;
        color: #FCFAF9;
        z-index: 1;
    }

    .card-background {
        position: absolute;
        left: auto;
        right: 50%;
        transform: translateX(50%);
        bottom: 229px;
        width: 280px;
        height: 420px;
    }
}

@media screen and (max-width: 510px) {

    html {
        background-image: url(assets/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-position-x: -254px;
        background-position-y: -112px;
        background-size: 983px 808px;
        height: 100%;
    }


    .wrapper-container {
        min-width: 320px;
        padding: 0px;
    }

    header {
        margin: 39px 24px 0 24px;
    }

    .header-logo {
        margin-bottom: 64px;
    }

    .header-background {
        top: -31px;
        right: auto;
        left: 537px;
        width: 267px;
        display: none;
    }

    .title {
        max-width: 520px;
    }

    header h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.454545px;
        margin-bottom: 28px;
        max-width: none;
    }

    header p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        max-width: none;
        margin-bottom: 166px;
    }

    .card-container {
        background-color: hsla(242, 22%, 12%, 1);
        max-width: 1110px;
        height: 600px;
        border-radius: 12px;
        position: relative;
        margin: 0 auto 390px auto;
    }

    .illustration {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 268px;
        width: 208px;
        max-height: 430px;
        z-index: 1;
    }

    .card-background {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        bottom: auto;
        top: 0;
        width: 280px;
        height: 420px;
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: hsla(12, 94%, 65%, 1);
        border-radius: 12px;
        width: 100%;
        height: 546px;
        position: absolute;
        top: 380px;
        right: 0px;
        padding: 48px 37px 48px 36px;
        color: #FCFAF9;
        z-index: 1;
        transform: none;
    }

    .card h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .card p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 36px;
    }

    .price {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 46px;
        margin-left: 6px;
    }

    .price span:nth-child(1) {
        font-weight: 700;
        font-size: 65px;
        line-height: 52px;
    }

    .price span:nth-child(2) {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.2px;
    }

    .btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7.92px;
        text-decoration: none;
        border-radius: 12px;
        height: 61px;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.18px;
        margin-left: 6px;
    }

    .ios {
        color: #FCFAF9;
        background-color: #191826;
        margin-bottom: 16px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto 80px auto;
        gap: 32px;
        max-width: 1110px;
        padding: 0 24px 80px 24px;
    }

    .footer-logo {
        width: 146px;
    }

    .footer-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
    }

    .social {
        display: flex;
        margin: auto auto auto 0;
        gap: 20px;
    }
}