* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1440px;
  min-width: 375px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
}

h1 {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2rem 0 2rem;
}

.filters {
  display: flex;
  gap: 1.5rem;
  letter-spacing: 0.5px;
}

.filter-btn {
  display: none;
}

.cross-icon {
  display: none;
}

.level-filter {
  display: block;
  cursor: pointer;
}

.level-filter input,
label {
  cursor: pointer;
  user-select: none;
}

.sort-by {
  display: flex;
  gap: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  color: rgb(181, 181, 181);
  cursor: pointer;
}

.material-symbols-outlined.active {
  color: black;
}

.link {
  text-decoration: none;
  color: black;
  display: block;
  isolation: isolate;
  overflow: hidden;
}

.link:hover {
  text-decoration: underline;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 20px 20px 30px;
}

.card {
  background-color: #fff;
  border: 1px solid rgb(219, 229, 230);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}

.card-image {
  overflow: hidden;
  width: 320px;
}

.card-image img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.3s ease 0s;
}

.card-image img:hover {
  transform: scale(1.15);
}

.card-content {
  padding: 14px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1 {
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
}

.github {
  width: 25px;
  cursor: pointer;
}

.github:hover.blue {
  fill: rgb(106, 190, 205);
}

.github:hover.green {
  fill: rgb(170, 215, 66);
}

.github:hover.orange {
  fill: rgb(241, 182, 4);
}

.github:hover.dark-orange {
  fill: rgb(244, 137, 37);
}

.github:hover.red {
  fill: rgb(237, 44, 73);
}

.class-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  vertical-align: middle;
  width: 100%;
  text-transform: uppercase;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.html {
  color: rgb(106, 190, 205);
}

.css {
  color: rgb(62, 84, 163);
}

.js {
  color: rgb(207, 99, 144);
}

.api {
  color: rgb(170, 215, 66);
}

.level-btn {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.level-number {
  color: white;
  padding: 0 8px 0;
}

.level {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 8px;
}

.level.blue {
  color: rgb(106, 190, 205);
}

.level-number.blue {
  background-color: rgb(106, 190, 205);
}

.level-btn.blue {
  border: 1px solid rgb(106, 190, 205);
}

.level.green {
  color: rgb(170, 215, 66);
}

.level-number.green {
  background-color: rgb(170, 215, 66);
}

.level-btn.green {
  border: 1px solid rgb(170, 215, 66);
}

.level.orange {
  color: rgb(241, 182, 4);
}

.level-number.orange {
  background-color: rgb(241, 182, 4);
}

.level-btn.orange {
  border: 1px solid rgb(241, 182, 4);
}

.level.dark-orange {
  color: rgb(244, 137, 37);
}

.level-number.dark-orange {
  background-color: rgb(244, 137, 37);
}

.level-btn.dark-orange {
  border: 1px solid rgb(244, 137, 37);
}

.level.red {
  color: rgb(237, 44, 73);
}

.level-number.red {
  background-color: rgb(237, 44, 73);
}

.level-btn.red {
  border: 1px solid rgb(237, 44, 73);
}

@media screen and (max-width: 730px) {
  .filters {
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(219, 229, 230);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px 80px 20px 20px;
    z-index: 1;
    display: none;
  }

  .cross-icon {
    display: block;
    position: absolute;
    right: 20px;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  .filters.visible {
    display: flex;
  }

  .sort-by {
    margin-left: auto;
  }

  .filter-btn {
    border: 1px solid rgb(219, 229, 230);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    letter-spacing: 0.5px;
  }
}
