* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 375px;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: black;
    display: block;
    isolation: isolate;
    overflow: hidden;
}

.link:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid rgb(219, 229, 230);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-image {
    overflow: hidden;
}

img {
    display: block;
    width: 320px;
    min-height: 100%;
    background-size: cover;
    transition: transform 0.3s ease 0s;
}

img:hover {
    transform: scale(1.15);
}

.card-content {
    padding: 15px;
}

h1 {
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    margin-bottom: 25px;
}

.class-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    vertical-align: middle;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.html {
    color: rgb(106, 190, 205);
}

.css {
    color: rgb(62, 84, 163);
}

.level-btn {
    border: 1px solid rgb(106, 190, 205);
    border-radius: 4px;
}

.level-number-blue {
    background-color: rgb(106, 190, 205);
    color: white;
    padding: 0 5px 0;
}

.level-blue {
    color: rgb(106, 190, 205);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 10px 0 5px;
}
