@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsla(220, 100%, 96%, 1);
    height: 100vh;
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.8rem;
    padding: 0 2rem;
}

.main-container {
    margin: auto;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 60px 0px hsla(224, 82%, 58%, 0.15);
    border-radius: 3.2rem;
    max-width: 73.6rem;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 36.8rem;
    width: 100%;
}

.main-container__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.main-container__result-section {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    border-radius: 3.2rem;
    padding: 3.8rem 5.4rem 5.5rem;
    align-items: center;
}

.main-container__result-section-title {
    color: #CAC9FF;
}

.main-container__result-section-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 3.5rem 0 2.8rem;
}

.main-container__result-section-your-score {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 7.2rem;
    color: #FFFFFF;
}

.main-container__result-section-total-score {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #CAC9FF;
}

.main-container__result-section-comment {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1.4rem;
}

.main-container__result-section-comment-details {
    color: #CAC9FF;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: center;
}

.main-container__summary-section {
    padding: 3.8rem 4rem 4.6rem;
    background-color: #FFFFFF;
    border-radius: 0 3.2rem 3.2rem 0;
}

.summary-section__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 2.8rem 0 4.1rem;
}

.summary-section__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.2rem;
    padding: 1.6rem;
    min-height: 5.6rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.summary-section__item-label {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.summary-section__item--pink {
    color: #FF5555;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
}

.summary-section__item--yellow {
    color: #FFB21E;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
}

.summary-section__item--green {
    color: #00BB8F;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
}

.summary-section__item--blue {
    color: #1125D6;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
}

.summary-section__item-rate {
    color: #303B59;
}

.summary-section__item-rate--gray {
    opacity: .5;
}

.summary-section__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303B59;
    color: #FFFFFF;
    border-radius: 12.8rem;
    padding: 1.6rem 0;
    margin-top: auto;
    min-height: 5.6rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.summary-section__link:hover {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}

@media screen and (max-width: 700px) {
    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

    html {
        font-size: 62.5%;
    }

    body {
        background-color: hsla(220, 100%, 96%, 1);
        max-height: 100vh;
        display: flex;
        font-family: 'Hanken Grotesk', sans-serif;
        font-size: 1.8rem;
    }

    .main-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 0px 30px 60px 0px hsla(224, 82%, 58%, 0.15);
        border-radius: 0;
        max-width: none;
        width: auto;
    }

    .section {
        display: flex;
        flex-direction: column;
        max-width: 37.5rem;
        width: 100%;
    }

    .main-container__title {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .main-container__result-section {
        background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
        border-radius: 0 0 3.2rem 3.2rem;
        padding: 2.4rem 5.7rem 4rem;
        align-items: center;
    }

    .main-container__result-section-title {
        color: #CAC9FF;
    }

    .main-container__result-section-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        margin: 2.4rem 0;
    }

    .main-container__result-section-your-score {
        font-weight: 800;
        font-size: 5.6rem;
        line-height: 7.2rem;
        color: #FFFFFF;
    }

    .main-container__result-section-total-score {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: #CAC9FF;
    }

    .main-container__result-section-comment {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.1rem;
        margin-bottom: 0.8rem;
    }

    .main-container__result-section-comment-details {
        color: #CAC9FF;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.1rem;
        text-align: center;
    }

    .main-container__summary-section {
        padding: 2.4rem 3rem 3rem;
        background-color: #FFFFFF;
    }

    .summary-section__list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin: 2.4rem 0 2.4rem;
    }

    .summary-section__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.2rem;
        padding: 1.6rem;
        min-height: 5.6rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .summary-section__item-label {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }

    .summary-section__item--pink {
        color: #FF5555;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
    }

    .summary-section__item--yellow {
        color: #FFB21E;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
    }

    .summary-section__item--green {
        color: #00BB8F;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
    }

    .summary-section__item--blue {
        color: #1125D6;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
    }

    .summary-section__item-rate {
        color: #303B59;
    }

    .summary-section__item-rate--gray {
        opacity: .5;
    }

    .summary-section__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303B59;
        color: #FFFFFF;
        border-radius: 12.8rem;
        padding: 1.6rem 0;
        margin-top: auto;
        min-height: 5.6rem;
    }

    .summary-section__link:hover {
        background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    }
}