* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #F2F2F2;
    font-size: 62.5%;
}


header {
    height: 30rem;
    background-image: url(images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin: -14.2rem auto 0 auto;
    max-width: 540px;
}

.input {
    background: #fff;
    max-width: 54rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 35px 50px -15px #C2C3D680;
    border: none;
    padding: 2rem 2.4rem;
    margin: 0 0 2.4rem 0;
}

.list {
    background: #fff;
    max-width: 54rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 35px 50px -15px #C2C3D680;
}

.list li {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 2rem 2.4rem;
    border-bottom: 1px solid #E3E4F1;
    display: flex;
    align-items: center;
}

.list-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 2.4rem;
}

.draggable {
    cursor: pointer;
    display: flex;
}

.draggable.dragging {
    opacity: .5;
}

.circle {
    width: 2.4rem;
    height: 2.4rem;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(135deg, #55DDFF, #C058F3) border-box;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-right: 2.4rem;
}