* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3eae3;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    font-family: "montserrat", sans-serif;
}

.fraunces {
    font-family: "Fraunces", serif;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin: 45px 15px 15px 15px;
}

.product-img {
    height: 100%;
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
}

.product-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    width: 50%;
    padding: 33px;
}

.product-type {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: -1.5px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 20px;
}

.title {
    line-height: 1;
    margin-left: -1.5px;
    font-size: 32px;
    margin-bottom: 25px;
}

.description {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.6;
    margin-left: -1px;
    margin-bottom: 25px;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.price {
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.initial-price {
    color: hsl(228, 12%, 48%);
    font-size: 13px;
    text-decoration: line-through;
}

.cart-btn::before {
    content: url(images/icon-cart.svg);
    margin-right: 10px;
    width: 18px;
    margin-top: 2px;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    border: none;
    border-radius: 8px;
    line-height: 0.8;
}

.cart-btn:hover {
    background-color: #1a4031;
}

@media only screen and (max-width: 630px) {
    .product-card {
        flex-direction: column;
        width: 345px;
        height: 610px;
    }
    .product-img {
    width: 100%;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
}
.product-content {
    width: 100%;
    padding: 25px;
}

.product-type {
    margin-bottom: 13px;
}

.title {
    margin-bottom: 15px;
}
.description {
    margin-bottom: 20px;
}

.prices {
    margin-bottom: 15px;
}
}