* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    --Light-grayish-blue: hsl(240, 5%, 91%);

    --font: "Kumbh Sans", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    min-width: 375px;
    max-width: 1440px;
    font-size: 62.5%;
}

html {
    display: table;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: linear-gradient(
            180deg,
            hsl(273, 75%, 66%) 0%,
            hsl(240, 73%, 65%) 100%
        )
        no-repeat center center fixed;
    font-family: var(--font);
}

.main-container {
    display: flex;
    justify-content: center;
}

section {
    background-color: white;
    margin: 20px;
    width: 92rem;
    border-radius: 2rem;
    display: grid;
    grid: 1fr / 39rem max-content;
    min-height: 51rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.desktop-image {
    position: absolute;
    top: 50%;
    left: -9rem;
    z-index: 1;
    width: 120%;
    transform: translateY(-50%);
}

.box-shadow {
    position: absolute;
    left: -102%;
    top: -34%;
    width: 200%;
}

.box {
    position: absolute;
    left: -10rem;
    top: 20.5rem;
    z-index: 2;
}

article {
    padding: 6.5rem;
    margin-right: 2rem;
}

.accordion {
    font-size: 1.4rem;
    width: 35rem;
    border-bottom: 1px solid var(--Light-grayish-blue);
}

article h1 {
    font-size: 3rem;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 2rem;
}

.accordion label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Very-dark-grayish-blue);
    font-weight: 500;
    padding: 1.5rem 0 1.5rem 0;
}

.accordion p {
    font-size: 1.2rem;
    color: var(--Dark-grayish-blue);
}

.accordion:hover label {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--Soft-red);
}

.accordion input {
    display: none;
}

.accordion-content {
    display: none;
}

.active .accordion-content {
    display: block;
    height: auto;
    padding-bottom: 20px;
}

.active label {
    font-weight: 700;
}

.active img {
    transform: scaleY(-1);
}

@media only screen and (max-width: 1000px) {
    section {
        margin: 150px 20px 20px 20px;
        min-width: 32rem;
        max-width: 60rem;
        width: 100%;
        min-height: 54rem;
        grid: 11rem max-content / auto;
    }

    .image-container {
        overflow: visible;
    }

    .desktop-image {
        top: -10.8rem;
        left: 50%;
        width: 24rem;
        transform: translateX(-50%);
    }

    .box-shadow {
        left: 50%;
        top: 0rem;
        transform: translateX(-50%);
        width: auto;
    }

    .box {
        display: none;
    }

    article {
        padding: 2.25rem 2.25rem 4.5rem 2.25rem;
        margin-right: 0;
    }

    .accordion {
        width: auto;
        margin: 0 auto;
        min-width: 28rem;
        max-width: 45rem;
    }

    article h1 {
        color: var(--Very-dark-desaturated-blue);
        margin-bottom: 1rem;
        text-align: center;
    }

    .accordion label {
        font-size: 1.3rem;
        padding: 1.7rem 0 1.5rem 0;
    }

    .active .accordion-content {
        padding-bottom: 15px;
    }
}
