@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

html {
    font-family: var(--font);
    font-size: 62.5%;
    height: 100vh;
    background-color: hsl(26, 100%, 99%);
    color: var(--Very-dark-desaturated-blue);
}

body {
    font-size: 1.8rem;
}

.wrapper-container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    max-height: 80rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 4rem;
}

.logo {
    height: 3.3rem;
}

.hamburger {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
    font-family: var(--font-barlow);
}

li a {
    cursor: pointer;
    color: var(--White);
}

.links li:nth-child(4) a {
    cursor: pointer;
    font-family: var(--font-fraunces);
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: var(--White);
    padding: 1.9rem 3.1rem 1.8rem 3.1rem;
    border-radius: 100rem;
    margin-right: 1rem;
    color: var(--Very-dark-desaturated-blue);
    display: inline-block;
}

.links li:nth-child(4) a:hover {
    color: var(--White);
    background-color: hsl(201, 100%, 72%);
}

ul li:nth-child(4) a {
    color: var(--Very-dark-desaturated-blue);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9rem;
    text-align: center;
}

h1 {
    color: var(--White);
    text-transform: uppercase;
    font-family: var(--font-fraunces);
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 11px;
    margin-top: 7rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 47rem;
}

.article.left {
    margin-right: 15%;
    margin-left: auto;
    padding-left: 2rem;
}

.article.right {
    margin-right: auto;
    margin-left: 15%;
    padding-right: 2rem;
}

.article h2 {
    font-family: var(--font-fraunces);
    font-size: 4.1rem;
    margin-bottom: 3.5rem;
    font-weight: 900;

}

.article p {
    font-family: var(--font-barlow);
    color: var(--Dark-grayish-blue);
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 4rem;
}

a {
    text-decoration: none;
}

.article a {
    font-family: var(--font-fraunces);
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 900;
}

.center {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: 1rem;
}

.underline-yellow {
    position: relative;
}

.underline-yellow::after {
    background-color: var(--Yellow);
    content: '';
    position: absolute;
    bottom: -0.25rem;
    width: 115%;
    left: -0.8rem;
    right: -0.8rem;
    height: 1rem;
    border-radius: 10rem;
    opacity: 0.3;
    z-index: -1;
}

.underline-red {
    position: relative;
}

.underline-red::after {
    background-color: var(--Soft-red);
    content: '';
    position: absolute;
    bottom: -0.25rem;
    width: 115%;
    left: -0.8rem;
    right: -0.8rem;
    height: 1rem;
    border-radius: 10rem;
    opacity: 0.3;
    z-index: -1;
}

a:hover.underline-red::after {
    opacity: 1;
}

a:hover.underline-yellow::after {
    opacity: 1;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

.subtitle {
    position: relative;
    display: flex;
    justify-content: center;
}

.text {
    position: absolute;
    bottom: 10%;
    text-align: center;
    max-width: 34rem;
}

.text h3 {
    font-family: var(--font-fraunces);
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 2.7rem;
}

.text p {
    font-family: var(--font-barlow);
    font-size: 1.6rem;
    line-height: 1.7;
}

.text.green h3,
p {
    color: var(--Dark-desaturated-cyan);
}

.text.green p {
    color: #3b796c;
}

.text.blue h3,
p {
    color: var(--Dark-blue);
}

.testimonials {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin: 16rem 0;
}

.testimonials h3 {
    text-transform: uppercase;
    font-family: var(--font-fraunces);
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: 900;
    color: var(--Grayish-blue)
}

.cards {
    display: flex;
    gap: 3.5rem;
    margin: 0 2rem;
}

.card {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.card img {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
}

.card p,
.work {
    text-align: center;
    font-family: var(--font-barlow);
    line-height: 1.8;
}

.card p {
    color: var(--Very-dark-grayish-blue);
}

.card .name {
    font-family: var(--font-fraunces);
    font-weight: 900;
}

.card .work {
    color: var(--Grayish-blue);
    font-size: 1.4rem;
    font-weight: 600;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 2;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    background-color: hsl(167, 44%, 70%);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-barlow);
    font-size: 1.7rem;
    gap: 4rem;
    margin: 7rem 0;
}

.footer img {
    height: 3.3rem;
    filter: brightness(0) saturate(100%) invert(36%) sepia(6%) saturate(5279%) hue-rotate(118deg) brightness(90%) contrast(71%);
}

.footer-links {
    display: flex;
    gap: 6rem;
    margin-bottom: 5rem;
}

.footer-links a {
    color: hsl(166, 44%, 32%);
    gap: 3rem;
}

.footer-links a:hover {
    color: var(--White);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2.8rem;
    align-items: center;
}

.socials a svg {
    fill: hsl(166, 44%, 32%);
}

.socials a svg:hover {
    fill: var(--White);
}

@media screen and (max-width: 870px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 645px) {
    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.8rem;
    }

    header {
        background-image: url(images/mobile/image-header.jpg);
    }

    .navbar {
        padding: 3.5rem 0;
    }

    .logo {
        height: 2.3rem;
    }

    .navbar-container {
        position: relative;
        margin: 0 2.2rem;
    }

    .menu.visible .links {
        visibility: visible;
    }

    .menu.visible .hamburger {
        opacity: 0.6;
    }

    .hamburger {
        height: 1.7rem;
        cursor: pointer;
        display: block;
    }

    .links::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 2.5rem solid var(--White);
        border-left: 2.5rem solid transparent;
        position: absolute;
        top: -2.5rem;
        right: 0;
    }

    .links {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 11rem;
        right: 0;
        background-color: var(--White);
        visibility: hidden;
    }

    ul {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        margin: 3.5rem;
    }

    li a {
        color: var(--Very-dark-grayish-blue);
    }

    .links li:nth-child(4) a {
        background-color: var(--Yellow);
        margin-right: 0rem;
    }

    h1 {
        font-size: 3.8rem;
        margin-top: 4rem;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .article {
        text-align: center;
        max-width: 100%;
        margin: 7.5rem 0 6rem 0;
    }

    .article.left {
        grid-row: 2 / 3;
        margin-right: 2rem;
        margin-left: 2rem;
        padding-left: 0;
    }

    .article.right {
        margin-right: 2rem;
        margin-left: 2rem;
        padding-right: 0;
    }

    .article h2 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }

    .article p {
        margin-bottom: 3rem;
    }

    .center {
        margin-left: auto;
    }

    .testimonials {
        margin: 6rem 0 8rem 0;
        grid-column: span 1;
    }

    .gallery {
        grid-column: span 1;
    }

    .cards {
        flex-direction: column;
        gap: 7rem;
    }

    .card {
        gap: 3rem;
    }

    .people {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        margin: 6rem 0;
    }

    .socials {
        margin-bottom: 2rem;
    }
}