:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(215, 18%, 19%);
    --Very-Dark-Blue: hsl(215, 20%, 16%);
    --background: hsl(228, 11%, 9%);

    --font: "Overpass", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    font-size: 62.5%;
    background-color: var(--background);
    font-family: var(--font);
}

.wrapper {
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.main-container {
    position: relative;
    background-color: var(--Very-Dark-Blue);
    max-width: 41.5rem;
    border-radius: 3rem;
    padding: 3.2rem;
    font-size: 1.6rem;
    box-shadow: hsla(228, 11%, 9%, 0.169) 30px -120px 60px 0px inset,
        hsla(228, 11%, 9%, 0.169) -30px -120px 60px 0px inset;
    margin: 2rem;
}

.image {
    background-color: var(--Dark-Blue);
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 3.5rem;
}

.main-container h1 {
    font-size: 2.8rem;
    color: var(--White);
    font-weight: 500;
}

.main-container p {
    color: var(--Medium-Grey);
    font-size: 1.45rem;
    line-height: 1.6;
    padding: 1rem 0;
}

.rating-form {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.main-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--Dark-Blue);
    color: var(--Medium-Grey);
}

input {
    display: none;
}

label:hover {
    background-color: var(--Orange);
    color: var(--White);
}
input:checked + label {
    background-color: var(--Medium-Grey);
    color: var(--White);
}

button {
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--White);
    letter-spacing: 3px;
    border: none;
    background-color: var(--Orange);
    padding: 1.5rem;
    border-radius: 100rem;
    margin-top: 3.2rem;
}

button:hover {
    background-color: var(--White);
    color: var(--Orange);
}

.modal {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.2rem;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background-color: var(--Very-Dark-Blue);
    text-align: center;
    box-shadow: hsla(228, 11%, 9%, 0.169) 30px -120px 60px 0px inset,
        hsla(228, 11%, 9%, 0.169) -30px -120px 60px 0px inset;
}

.modal.visible {
    visibility: visible;
}

.selected {
    background-color: var(--Dark-Blue);
    color: var(--Orange);
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    padding: 0.7rem 1.8rem;
    border-radius: 100rem;
    margin: 3.5rem 0;
}

.modal h2 {
    color: var(--White);
    font-size: 2.8rem;
}

.modal p {
    font-size: 1.45rem;
}

@media only screen and (max-width: 600px) {
    .main-container {
        max-width: 32.5rem;
        border-radius: 2rem;
        padding: 2.2rem;
    }

    .image {
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
    }

    .image img {
        width: 35%;
    }

    .main-container h1 {
        font-size: 2.4rem;
    }

    .main-container p {
        font-size: 1.4rem;
    }

    .main-container label {
        width: 4rem;
        height: 4rem;
        font-size: 1.4rem;
    }

    button {
        margin-top: 2.2rem;
    }

    .modal {
        border-radius: 2rem;
    }

    .selected {
        font-size: 1.3rem;
        margin: 2.5rem 0;
    }

    .modal img {
        width: 55%;
    }

    .modal h2 {
        font-size: 2.4rem;
    }

    .modal p {
        font-size: 1.4rem;
    }
}
