* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 375px;
}
/* @media only screen and (max-width: 375px) {
    .card {
        margin-top: 80px !important;
    }
} */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 32rem;
    margin: 2rem;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.img {
    padding: 1.6rem;
    margin-bottom: 0.5rem;
}
.card img {
    width: 28.8rem;
    border-radius: 1rem;
}

.card h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0 2rem 1.5rem 2rem;
    letter-spacing: 0.1;
    line-height: 1.3;
}

.card p {
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 0 3rem 4rem 3rem;
    letter-spacing: 0.2;
}
