* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-radius: 20px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}
.img {
    padding: 16px;
}
.card img {
    width: 288px;
    border-radius: 10px;
}

.card h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.card p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.attribution {
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
