:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    /* Accent */
    --Blue: hsl(248, 32%, 49%);
    /* Neutral */
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);

    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--Red);
    background-image: url(images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 62.5%;
}

body {
    font-family: var(--font);
}

.wrapper {
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.main-container {
    display: grid;
    justify-items: center;
    margin: 7rem 2.5rem;
}

.content {
    min-width: 20rem;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 2.7rem;
    line-height: 1.3;
    padding: 2rem 5rem;
    margin-bottom: 0.5rem;
}

.content p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 4rem;
}

.trial {
    background-color: var(--Blue);
    padding: 1.5rem 8rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 2.5rem 0;
    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}

.trial span {
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
}

input {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid rgba(185, 182, 211, .4);
    height: 5.5rem;
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: var(--font);
    color: var(--Dark-Blue);
}

input.error {
    border: 2px solid var(--Red);
}

input:focus {
    outline: none;
    border: 1px solid var(--Dark-Blue);
}

input.error:focus {
    outline: none;
    border: 2px solid var(--Red);
}

input.error::placeholder {
    color: transparent;
}

input.error {
    color: var(--Red);
}

input.email-error {
    color: var(--Red);
}


input.error+.error-icon {
    visibility: visible;
}

.input-container {
    position: relative;
}

.input-container+span {
    text-align: right;
    padding: 0.5rem 0;
    font-style: italic;
    margin-bottom: 0.5rem;
    color: var(--Red);
}

.error-icon {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

button {
    font-family: var(--font);
    background-color: var(--Green);
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0px 4px 0px 0px #32b981;
    margin-bottom: 1.5rem;
}

button:hover {
    cursor: pointer;
    background-color: hsl(154, 65%, 68%);
    box-shadow: 0px 4px 0px 0px var(--Green);
}

form span {
    text-align: center;
    padding: 0 2rem;
    color: var(--Grayish-Blue);
    font-weight: 500;
    font-size: 1.1rem;
}



form a {
    text-decoration: none;
    color: var(--Red);
    cursor: pointer;
    font-weight: 600;
}

@media only screen and (min-width: 725px) {

    html {
        background-color: var(--Red);
        background-image: url(images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 62.5%;

    }

    body {
        font-family: var(--font);
    }

    .wrapper {
        max-width: 1440px;
        min-width: 375px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
    }

    .main-container {
        display: flex;
        justify-content: center;
        gap: 5rem;
        width: 100%;
        margin: 9.5rem 2.5rem 4rem 2.5rem;
    }

    .form {
        max-width: 55rem;
        width: 100%;
    }

    .content {
        min-width: 20rem;
        text-align: left;
        color: white;
        align-self: auto;
        max-width: 50rem;
        margin-right: 2rem;
        margin-top: 18rem;
    }

    .content h1 {
        font-size: 4.8rem;
        line-height: 1.1;
        padding: 2rem 0rem;
        margin-bottom: 0.5rem;
    }

    .content p {
        max-width: auto;
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 6rem;
    }

    .trial {
        background-color: var(--Blue);
        padding: 1.§rem 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.8;
        margin: 2.5rem 0;
        box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
        color: white;
        max-width: 54rem;
        min-width: 33rem;
        width: 100%;
    }

    .trial span {
        font-weight: 700;
    }

    form {
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 54rem;
        min-width: 33rem;
        width: 100%;
        padding: 4rem;
        border-radius: 1rem;
        box-shadow: 0px 9px 0px 0px rgba(0, 0, 0, 0.2);
    }

    input {
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid rgba(185, 182, 211, .4);
        height: 5.5rem;
        padding: 0 2rem;
        font-weight: 600;
        font-size: 1.4rem;
        font-family: var(--font);
        color: var(--Dark-Blue);
    }

    input.error {
        border: 2px solid var(--Red);
    }

    input:focus {
        outline: none;
        border: 1px solid var(--Blue);
    }

    input.error:focus {
        outline: none;
        border: 2px solid var(--Red);
    }

    input.error::placeholder {
        color: transparent;
    }

    input.error {
        color: var(--Red);
    }

    input.email-error {
        color: var(--Red);
    }


    input.error+.error-icon {
        visibility: visible;
    }

    .input-container {
        position: relative;
    }

    .input-container+span {
        text-align: right;
        padding: 0.5rem 0;
        font-style: italic;
        margin-bottom: 1rem;
        color: var(--Red);
    }

    .error-icon {
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        visibility: hidden;
    }

    button {
        font-family: var(--font);
        background-color: var(--Green);
        text-transform: uppercase;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 1px;
        box-shadow: 0px 4px 0px 0px #32b981;
        margin-bottom: 1.5rem;
    }

    button:hover {
        cursor: pointer;
        background-color: hsl(154, 65%, 68%);
        box-shadow: 0px 4px 0px 0px var(--Green);
    }

    form span {
        text-align: center;
        padding: 0 2rem;
        color: var(--Grayish-Blue);
        font-weight: 500;
        font-size: 1.1rem;
    }



    form a {
        text-decoration: none;
        color: var(--Red);
        cursor: pointer;
        font-weight: 600;
    }
}