@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --heading-font: 'Big Shoulders Display', cursive;
    --body-font: 'Outfit', sans-serif;

    --white: hsla(0, 0%, 100%, 1);
    --dark-gray: hsla(0, 0%, 27%, 1);
    --almost-black: hsla(0, 0%, 8%, 1);
    --gold: hsla(24, 56%, 63%, 1);
}

html {
    font-size: 62.5%;
}

body {
    color: var(--almost-black);
}

.h-xl {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 9.6rem;
    line-height: 8.8rem;
    text-transform: uppercase;
}

.h-l {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 7rem;
    line-height: 7rem;
    text-transform: uppercase;
}

.h-m {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 6rem;
    line-height: 6rem;
    text-transform: uppercase;
}

.h-s {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
}

.b-m {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.2rem;
}

.b-s {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

body {
    max-width: 144rem;
    margin: 0 auto;
}

header {
    position: relative;
    display: flex;
}


.black-content {
    background-color: var(--almost-black);
    max-width: 45rem;
    min-width: 0;
    width: 100%;
}

.white-content {
    width: 100%;
    min-width: 22.8rem;
}

h1 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.illustration {
    min-width: 54rem;
    width: 100%;
    height: auto;
}


.header-content {
    max-width: 115rem;
    width: 100%;
    position: absolute;
    top: 18.9rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.header-left-content {
    max-width: 51.4rem;
    min-width: 33.9rem;
    position: relative;
}

.header-right-content {
    max-width: 35rem;
}

.header-content p {
    color: hsla(0, 0%, 27%, 1);
    margin-bottom: 6.4rem;
}

.link-container {
    display: flex;
}

.link {
    color: var(--white);
    text-decoration: none;
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 3.63636px;
    text-transform: uppercase;
    background-color: var(--almost-black);
    height: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26rem;
    padding-left: 3.2rem;
    position: relative;
}

.link-container:hover .link {
    background-color: var(--gold);
}

.link-container:hover .link-img {
    background-color: var(--almost-black);
}

.link-img {
    background-color: var(--gold);
    height: 7.2rem;
    width: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link img {
    width: 0.8rem;
    height: 2.4rem;
}

main {
    max-width: 115rem;
    margin: 18rem auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: minmax(31rem, 44.5rem) auto minmax(31rem, 44.5rem);
    grid-template-rows: 40rem 31.3rem 37.7rem;
    gap: 3rem;
}

.top-content {
    max-height: 28rem;
    max-width: 35rem;
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image1 {
    grid-column: span 2;
}

.image2 {
    grid-column: span 2;
    grid-row: span 2;
}

main img {
    width: 100%;
    height: 100%;
    max-width: 63.5rem;
    object-fit: cover;
}

.bottom-container {
    background-color: var(--almost-black);
    color: var(--white);
    height: 100%;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    max-width: 35rem;
    max-height: 24.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 1rem;
}




footer {
    background-color: var(--almost-black);
    color: var(--white);
    width: 100%;
    min-height: 24.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    max-width: 115rem;
    width: 100%;
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.footer-container h3 {
    max-width: 17rem;
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    margin-right: 12.61%;
}

.footer-container p {
    max-width: 43rem;
    color: var(--white);
    margin-right: 25.22%;
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials img {
    height: 2rem;
    width: 2rem;
}

.socials img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(67%) sepia(48%) saturate(387%) hue-rotate(339deg) brightness(87%) contrast(90%);
}